@using Zeta.AgentosCRM.Authorization
@using Zeta.AgentosCRM.Web.Areas.AppAreaName.Startup


<script abp-src="/view-resources/Areas/AppAreaName/Views/Products/Application/Application.js" asp-append-version="true"></script>
<div class="Main mt-1 mb-3">
   <div class="card">

        <div class="card-body">
            <div class="row ">
                <div class="table-responsive">
                    <table id="Applicationstable" class="table border custom-table align-middle fs-8 gy-2 dataTable no-footer">
                        <thead class="thead gy-7">
                            <tr>
                                <th></th>

                                <th>@L("ClientName")</th>
                                <th>@L("Name")</th>
                               @* <th>@L("WorkFlow")</th> *@
                                <th></th>
                            </tr>
                        </thead>
                    </table>
                
                </div>
            </div>
        </div>
    </div>

</div>



