/* Add a CSS class to style the button */
.toggle-button {
    background-color: #f2f2f2; /* Set a lighter background color */
    display: flex;
    justify-content: space-between;
}
.accordion-button {
    background-color: #f2f2f2; /* Set a lighter background color */
    display: flex;
    justify-content: space-between;
}

/* Define styles for the collapsed button */


/* Style the "Education" text within the button */

.accordion-button:not(.collapsed) {
    background-color: #f2f2f2; /* Change this to your desired gray color */
}

/* Style the icon */

