


.maincard {
    margin-left:20px;margin-right:20px;
}


.navbar-link-card {
    margin-left: 20px;
    margin-right: 20px;
}

.navbar-link-card-height {
    height: 60px;
}
.navbar-link-card-Allign {
    margin-left: 10px;
    
}
.navbar-link-item-card-font {
    font-size: 10px !important;
}
.maincard {
    margin-left: 20px;
    margin-right: 20px;
}
table.dataTable thead tr {
    background-color: #009ef7;
    color: white;
}

/*.navbar-link-card {
    margin-left: 20px;
    margin-right: 20px;
}

.navbar-link-card-height {
    height: 60px;
}

.navbar-link-card-Allign {
    margin-left: 10px;
}

.navbar-link-item-card-font {
    font-size: 10px !important;
}

.card-body, .d-flex, .mb-2, .me-7, .text-secondary {
    font-size: 0.8rem;
}
*/





.Detailform .card {
    min-height: 400px !important;
    max-height: 400px !important;
}
