@using Zeta.AgentosCRM.Authorization
@using Zeta.AgentosCRM.Web.Areas.AppAreaName.Startup;


<link rel="stylesheet" abp-href="/view-resources/Areas/AppAreaName/Views/Client/Activites.min.css" asp-append-version="true" />
<link rel="stylesheet" abp-href="/view-resources/Areas/AppAreaName/Views/Common/_PartialCardView.css" asp-append-version="true" />
@*<div class="container mt-2">*@
<div class="maincard">
    <div class="row align-items-center">
        <!-- User's profile image on the left (outside the card) -->
        <div class="col-md-1 col-1 text-center">
            <div class="rounded-circle bg-danger image">
                <img src="/Profile/GetProfilePicture" class="img-fluid" alt="User Pic">
            </div>
        </div>

        <!-- Card with user details -->
        <div class="col-md-10 col-8">
            <div class="card maincard">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6">
                            <!-- User's Name, Company Name, and University Name -->
                            <h5 class="card-title">Max Smith</h5>
                            <p class="card-text"><strong>Company:</strong> ABC Corporation</p>
                            <p class="card-text"><strong>University:</strong> XYZ University</p>
                        </div>
                        <div class="col-md-6 text-md-end">
                            <!-- Timestamp (visible on medium and larger screens) -->
                            <p class="card-text"><i class="far fa-clock"></i> 10:30 AM</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="mt-5">
    <div class="maincard">
        <div class="row align-items-center">
            <!-- User's profile image on the left (outside the card) -->
            <div class="col-md-1 col-1 text-center">
                <div class="rounded-circle bg-danger image">
                    <img src="/Profile/GetProfilePicture" class="img-fluid" alt="User Pic">
                </div>
            </div>

            <!-- Card with user details -->
            <div class="col-md-10 col-8">
                <div class="card maincard">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-6">
                                <!-- User's Name, Company Name, and University Name -->
                                <h5 class="card-title">Max Smith</h5>
                                <p class="card-text"><strong>Company:</strong> ABC Corporation</p>
                                <p class="card-text"><strong>University:</strong> XYZ University</p>
                            </div>
                            <div class="col-md-6 text-md-end">
                                <!-- Timestamp (visible on medium and larger screens) -->
                                <p class="card-text"><i class="far fa-clock"></i> 10:30 AM</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>






