


<link rel="stylesheet" abp-href="/view-resources/Areas/AppAreaName/Views/Common/_PartialCardView.css" asp-append-version="true" />
    <div class="maincard">
<div class="Main">
   <div class="row">
    <div class="col-md-12 d-flex align-items-start mb-3">
        <!-- Email Button -->
                <button class="btn btn-primary btn-circle btn-sm mr-2" id="EmailButton">
                    <span>Email</span>
                    <i class="fas fa-envelope"></i>
                </button>

        <!-- SMS Button -->
                <button class="btn btn-primary btn-sm btn-circle">
        <span class="">SMS</span>
            <i class="fas fa-sms"></i>
        </button>
    </div>
</div>


</div>
</div>



