@section Styles
    {
    <link rel="stylesheet" abp-href="/view-resources/Areas/AppAreaName/Views/Partners/__AgreementViewCard.css" asp-append-version="true" />
    <link rel="stylesheet" abp-href="/view-resources/Areas/AppAreaName/Views/_Bundles/demo-ui-components.css" asp-append-version="true"/>
    }
  @section Scripts
{
    <script abp-src="/view-resources/Areas/AppAreaName/Views/_Bundles/demo-ui-components.js" asp-append-version="true"></script>
}
<div class="maincard">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header mt-3">
                    Contract Information
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="form-group col-md-4 mb-3">
                            <label for="SampleDatePicker" class="form-label">Contract Expiry Date</label>
                            <div id="SampleDatePicker" class="input-group">
                                <input type="datetime" name="SampleDatePicker" class="form-control date-picker">
                            </div>
                        </div>
                      
                        <div class="form-group col-md-4 mb-3">
                             <label for="representingRegion" class="form-label">Representing Region</label>
                            <select class="form-control" id="representingRegion" name="representingRegion">
                                <option value="region1">Region 1</option>
                                <option value="region2">Region 2</option>
                            </select>
                        </div>
                        <div class="form-group col-md-4 mb-3">
                             <label for="commissionPercentage" class="form-label">Commission Percentage</label>
                            <input type="number" class="form-control " id="commissionPercentage" name="commissionPercentage">
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-4 mb-3">
                            <label for="supperAgent" class="form-label">Default Super Agent</label>
                            <select class="form-control " id="supperAgent" name="supperAgent">
                                <option value="agent1">Agent 1</option>
                                <option value="agent2">Agent 2</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="card-footer">
                    <button type="button" class="btn btn-primary">Save Changes</button>
                </div>
            </div>
        </div>
    </div>
</div>

