<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
</head>
<body>
 <div class="Main">
        <div class="col-md-12 text-end mb-3">

            <button id="CreateNewBranchesButton" class="btn btn-primary blue"><i class="fa fa-plus"></i> @L("AddBranches")</button>
        </div>
         <div class="row">
        <!-- Left Side -->
        <div class="col-md-3">
            <!-- Card -->
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Head Office</h5>
                     <div class="col-md-6">
                            <p class="card-text">BROADMEADOWS , Australia </p>
                        </div>
                    <hr>
                    <div class="row">
                        <div class="col-md-6">
                            <span>admission@berrycollege.edu.au</span>
                        </div>
                     
                    </div>
                </div>
            </div>
        </div>
        <!-- Right Side (Button) -->
       
    </div>

    </div>



</body>
</html>
