
    <script abp-src="/view-resources/Areas/AppAreaName/Views/Partners/Branches/Branches.js" asp-append-version="true"></script>


<div class="Main mt-3">
        <div class="col-md-12 text-end mb-3">

        <button id="CreateNewBranchesButton" class="btn  btn-sm btnclose btn-outline text-white rounded-0"><i class="fa fa-plus text-white"></i> @L("AddBranches")</button>
        </div>
       @*   <div class="row">
        <!-- Left Side -->
        <div class="col-md-3">
            <!-- Card -->
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Head Office</h5>
                     <div class="col-md-6">
                            <p class="card-text">BROADMEADOWS , Australia </p>
                        </div>
                    <hr>
                    <div class="row">
                        <div class="col-md-6">
                            <span>admission@berrycollege.edu.au</span>
                        </div>
                     
                    </div>
                </div>
            </div>
        </div>
        <!-- Right Side (Button) -->
       
    </div> *@
    
    @*         <button id="BranchesButton" class="btn btn-primary btn-sm blue"><i class="fa fa-plus"></i> @L("AddBranches")</button>
<button id="showCardsButton"  class="btn btn-primary btn-sm blue"><i class="fa fa-plus"></i>@L("Show Cards")</button> *@
<div id="cardContainer" class="container"></div>

    </div>
