@using Zeta.AgentosCRM.Authorization
@using Zeta.AgentosCRM.Web.Areas.AppAreaName.Models.Applications
@using Zeta.AgentosCRM.Web.Areas.AppAreaName.Startup;
@model ApplicationViewModel
@using Zeta.AgentosCRM.Web.TagHelpers
@{
}

<div class="mx-5 my-5">
<div class="card mb-3">
    <div class="card-body mb-4">
        <h1>heading </h1>
    </div>
</div>
<!-- SmartWizard html -->
<div class="card">
    <div class="card-body">
        <div id="smartwizard">
            <ul class="nav nav-progress"  id="progressHead">
            </ul>

            <div class="tab-content" id="contentId">

                @*
                <!-- Include optional progressbar HTML -->
                <div class="progress">
                <div class="progress-bar" role="progressbar" style="width: 0%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                *@
            </div>
        </div>
    </div>
</div> 
</div> 