


<div class="Main">
      <div class="row">
        <div class="col-md-12 text-end mb-3">
            <!-- Button -->
            <button id="AddButton" class="btn btn-primary blue"><i class="fa fa-plus"></i> Add </button>
        </div>
    </div>
  <div class="row">
        <div class="col-md-12">
            <!-- Enhanced Data Table -->
            <table id="FeeTypeTable" class="table table-bordered ">
                <thead>
                    <tr style="text-align:center">
                        <th style="background-color:deepskyblue;color:white">Actions</th>
                      
                    </tr>
                </thead>
                <tbody>
                    <!-- Dummy Data Rows -->
                    <tr>
                        <td><button class="btn btn-sm btn-primary">Edit</button></td>
                      
                    </tr>
                 
                    <!-- Add more dummy data rows as needed -->
                </tbody>
            </table>
        </div>
    </div>
</div>



