@using Zeta.AgentosCRM.Authorization
@using Zeta.AgentosCRM.Web.Areas.AppAreaName.Startup


<link rel="stylesheet" abp-href="/view-resources/Areas/AppAreaName/Views/Common/_PartialCardView.css" asp-append-version="true" />
<script abp-src="/view-resources/Areas/AppAreaName/Views/Products/ProductRequirment/ProductRequirment.js" asp-append-version="true"></script>
<div class="maincard">
@*     <div class="col-md-12 text-end mb-3">

        <button id="CreateNewOtherInfoButton" class="btn  btn-sm btnclose btn-outline text-white rounded-0"><i class="fa fa-plus text-white"></i> @L("AddOtherInfo")</button>
    </div> *@

    <div id="cardProductRequirmentsContainer" class="container"></div>
 
    <div id="cardProductEnglishContainer" class="container"></div>
 
        <div id="cardProductotherContainer" class="container"></div>


</div>
