
@section Scripts
    {
    <script abp-src="/view-resources/Areas/AppAreaName/Views/CRMLead/CreateLead.js" asp-append-version="true"></script>
}
@section Styles
    {
    <link rel="stylesheet" abp-href="/view-resources/Areas/AppAreaName/Views/Common/_PartialCardView.css" asp-append-version="true" />
   }
<div class="maincard mt-1">
    
    <div id="cardContainerLead" class="container">
    </div>
</div>


