

<div class="">


    @* col-md-12 maincard*@
    <div class="">
        <!-- Card -->
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Education Background</h5>
                <div class="col-md-12 text-end mb-1">
                    <button id="AddEducationBackgroundButton" class="btn  btn-sm btnclose btn-outline text-white rounded-0"><i class="fa fa-plus text-white"></i> @L("Add")</button>
                </div>
                <hr>

                <div class="col-md-6">
                    <p class="card-text">Click Add button to fill eductaion background </p><br />

                </div>
                <div id="cardContainerEducation"></div>
                <br/>
                <br />


              
                @*                    <hr>
                <div class="row">
                <div class="col-md-6">
                <p class="card-text">Start Date</p>
                </div>
                <div class="col-md-6">
                <p class="card-text">End Date</p>
                </div>
                </div>*@
            </div>
        </div>
    </div>
    <!-- Right Side (Button) -->
    <div id="cardProductEnglishContainer"></div>

    <div id="cardProductotherContainer"></div>
</div>