<div class="modal-footer">
    <button type="button" class="btn btnclose btn-sm btn-outline text-white close-button rounded-0" data-bs-dismiss="modal">@L("Close")</button>
    @* <button type="button" class="btn btn-light-primary fw-bold close-button" data-bs-dismiss="modal">@L("Close")</button> *@
</div>