<div class="modal-footer">
    <button type="button" class="btn btn-secondary btn-sm btn-outline text-white rounded-0  close-button" data-bs-dismiss="modal">@L("Cancel")</button>
    <button type="button" class="btn btn-primary btn-sm btn-outline btnclose save-button text-white"><i class="fa fa-save"></i> <span>@L("Save")</span></button>
</div>
