<div class="modal-footer">
    <button type="button" class="btn btn-secondary btn-sm btn-outline text-white close-button rounded-0" data-bs-dismiss="modal">@L("Cancel")</button>
    <button type="button" class="btn btnclose btn-sm btn-outline text-white save-button rounded-0"><i class="fa fa-save text-white"></i> <span>@L("Save")</span></button>
</div>
