
@using System.Globalization
@using Zeta.AgentosCRM.Web.Areas.AppAreaName.Models.Common.Modals
@using Zeta.AgentosCRM.Web.Areas.AppAreaName.Models
@using Zeta.AgentosCRM.Authorization
@using Zeta.AgentosCRM.Web.Areas.AppAreaName.Models.Clients
@using Zeta.AgentosCRM.Web.Areas.AppAreaName.Startup
@* @model CreateOrEditClientViewModel *@
@section Styles
    {
    <link rel="stylesheet" abp-href="/view-resources/Areas/AppAreaName/Views/Common/_PartialCardView.css" asp-append-version="true" />
   }

@await Html.PartialAsync("~/Areas/AppAreaName/Views/Common/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(L("Create Email")))


<div class="modal-body">
    <div id="FeeTypeInformationsTab">
        <form name="EmailInformationsForm" role="form" novalidate class="form-validation">

            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Compose Email</h5>

                    <!-- Form for composing email -->
                    <form id="composeEmailForm" class="needs-validation" novalidate>
                        <div class="row g-3">
                         @*    @if (Model.IsEditMode)
                            {
                                <input type="hidden" name="id" value="@Model.Client.Id" />
                            } *@
                            <!-- 'From' dropdown -->
                            <div class="col-md-12">
                                <label for="fromDropdown" class="form-label">From</label>
                                @* @Html.DropDownList("countryCodeId", new SelectList(Model.ClientCountryList,"Id","DisplayName", (Model.IsEditMode ? Model.Client.PassportCountryId.ToString() : "")),@L("SelectACountry"), new { @class = "form-control"  , @required="required" }) *@

                                <select class="form-select" id="fromDropdown" required>
                                    <option value="Category">SajidBhatti@zeta.com</option>
                                </select>
                                <div class="invalid-feedback">
                                    Please select a sender.
                                </div>
                            </div>

                            <!-- 'To' dropdown -->
                            <div class="col-md-12">
                                <label for="toDropdown" class="form-label">To</label>
                                @* @Html.DropDownList("countryCodeId", new SelectList(Model.ClientCountryList,"Id","DisplayName", (Model.IsEditMode ? Model.Client.PassportCountryId.ToString() : "")),@L("SelectACountry"), new { @class = "form-control"  , @required="required" }) *@

                                <select class="form-select" id="fromDropdown" required>
                                    <option value="Category">Raidrabnawaz@zeta.com</option>
                                </select>
                                <div class="invalid-feedback">
                                    Please select a recipient.
                                </div>
                            </div>

                            <!-- 'CC' dropdown -->
                            <div class="col-md-12">
                                <label for="ccDropdown" class="form-label">CC</label>
                                <select class="form-select" id="ccDropdown" required>
                                    <option value="Category">Ijaz@zeta.com</option>
                                </select>
                                <div class="invalid-feedback">
                                    Please select at least one recipient in CC.
                                </div>
                            </div>

                            <!-- 'Template' dropdown -->
                            <div class="col-md-12">
                                <label for="templateDropdown" class="form-label">Template</label>
                                <select class="form-select" id="templateDropdown" required>
                                    <option value="Category">VISA  </option>
                                    <option value="Category">OFFER </option>
                                </select>
                                <div class="invalid-feedback">
                                    Please select an email template.
                                </div>
                            </div>

                            <!-- Subject input -->
                            <div class="col-md-12">
                                <label for="subjectInput" class="form-label">Subject</label>
                                <input type="text" class="form-control" id="subjectInput" required>
                                <div class="invalid-feedback">
                                    Please enter a subject.
                                </div>
                            </div>

                            <!-- Message textarea -->
                            <div class="col-12">
                                <label for="messageTextarea" class="form-label">Message</label>
                                <textarea class="form-control" id="messageTextarea" rows="6" required></textarea>
                                <div class="invalid-feedback">
                                    Please enter a message.
                                </div>
                            </div>

                            <!-- Submit button -->
                            <div class="col-12 mt-3">
                                <button class="btn btn-primary" type="submit">Send Email</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

        </form>
    </div>
</div>

@await Html.PartialAsync("~/Areas/AppAreaName/Views/Common/Modals/_ModalFooterWithSaveAndCancel.cshtml")




 